.Header {
  background: url('../images/bg-header.png');
  background-size: cover;
  background-position: center;
  margin: 0 0 1.6rem;

  &-wrapper {
    padding: 1.6rem;
    min-height: 8.7rem;
  }

  &-logo {
    flex: 0 0 5.2rem;
    max-width: 5.2rem;
    margin-right: 1.6rem;

    img {
      width: 100%;
    }
  }

  &-info {
    flex: 1;

    &-title {
      font-family: 'Poppins', sans-serif;
      font-weight: 700;
      color: $white;
      font-size: 1.4rem;
    }

    &-description {
      font-family: 'Poppins', sans-serif;
      color: $lemon;
      font-size: 1.6rem;
      font-weight: 700;
    }
  }
}