header.Header
  .Header-wrapper.flex.items-center 
    .Header-logo
      img(src="./assets/images/logo-emblem-of-vietnam.svg", alt="")
    .Header-info 
      .Header-info-title CỔNG THÔNG TIN ĐIỆN TỬ
      .Header-info-description ĐẢNG BỘ TỈNH TUYÊN QUANG