.Contact
  .Contact-subtitle CỔNG THÔNG TIN ĐIỆN TỬ
  .Contact-title ĐẢNG BỘ TỈNH TUYÊN QUANG

  .Contact-content
    p #[strong Giấy phép xuất bản số: ] 68/GP-TTĐT ngày 02/10/2020 của Sở Thông tin & Truyền thông tỉnh Tuyên Quang
    p #[strong Chịu trách nhiệm: ] Bà Nông Thị Bích Huệ - Trưởng Ban Tuyên giáo Tỉnh ủy, Trưởng Ban Biên tập

    .Contact-info-wrapper
      .Contact-info.flex.items-start 
        .Contact-info-icon
          <svg width="16" height="18" viewBox="0 0 16 18" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M7.0125 17.55C4.8375 15.293 0 9.82266 0 6.75C0 3.02203 3.58167 0 8 0C12.4167 0 16 3.02203 16 6.75C16 9.82266 11.125 15.293 8.9875 17.55C8.475 18.0879 7.525 18.0879 7.0125 17.55ZM8 9C9.47083 9 10.6667 7.99101 10.6667 6.75C10.6667 5.50898 9.47083 4.5 8 4.5C6.52917 4.5 5.33333 5.50898 5.33333 6.75C5.33333 7.99101 6.52917 9 8 9Z" fill="#828282"/></svg>
        span Đường 17/8, Phường Phan Thiết, Thành phố Tuyên Quang

      .Contact-info.flex.items-start 
        .Contact-info-icon
          <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M14.25 3H3.75C3.15326 3 2.58097 3.23705 2.15901 3.65901C1.73705 4.08097 1.5 4.65326 1.5 5.25V12.75C1.5 13.3467 1.73705 13.919 2.15901 14.341C2.58097 14.7629 3.15326 15 3.75 15H14.25C14.8467 15 15.419 14.7629 15.841 14.341C16.2629 13.919 16.5 13.3467 16.5 12.75V5.25C16.5 4.65326 16.2629 4.08097 15.841 3.65901C15.419 3.23705 14.8467 3 14.25 3ZM14.25 4.5L9.375 7.8525C9.26098 7.91833 9.13165 7.95298 9 7.95298C8.86835 7.95298 8.73901 7.91833 8.625 7.8525L3.75 4.5H14.25Z" fill="#828282"/></svg>
        a(href="mailto: bbttu@tuyenquang.gov.vn") bbttu@tuyenquang.gov.vn

      .Contact-info.flex.items-start 
        .Contact-info-icon
          <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M5.82901 1.82923L6.63601 1.57123C7.39276 1.32973 8.20126 1.72048 8.52526 2.48398L9.17026 4.00498C9.45076 4.66723 9.29476 5.44648 8.78476 5.93098L7.36351 7.27948C7.45126 8.08648 7.72276 8.88073 8.17726 9.66223C8.60886 10.4183 9.18778 11.0801 9.87976 11.6085L11.5868 11.0385C12.2333 10.8232 12.9383 11.0715 13.3343 11.6542L14.259 13.0117C14.7203 13.6897 14.637 14.6242 14.0648 15.1987L13.452 15.8145C12.8415 16.4272 11.9693 16.65 11.163 16.398C9.25801 15.804 7.50826 14.0407 5.91076 11.1082C4.31101 8.17123 3.74626 5.67823 4.21726 3.63223C4.41526 2.77123 5.02801 2.08498 5.82901 1.82923Z" fill="#828282"/></svg>

        a(href="tel: 02073822518") 02073 822 518

