.NewDetail
  .NewDetail-title Tạo nền móng vững chắc trong sản xuất nông nghiệp
  .NewDetail-date.flex.items-center 
    .NewDetail-date-icon 
      <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M7.99337 1.33337C4.31337 1.33337 1.33337 4.32004 1.33337 8.00004C1.33337 11.68 4.31337 14.6667 7.99337 14.6667C11.68 14.6667 14.6667 11.68 14.6667 8.00004C14.6667 4.32004 11.68 1.33337 7.99337 1.33337ZM8.00004 13.3334C5.05337 13.3334 2.66671 10.9467 2.66671 8.00004C2.66671 5.05337 5.05337 2.66671 8.00004 2.66671C10.9467 2.66671 13.3334 5.05337 13.3334 8.00004C13.3334 10.9467 10.9467 13.3334 8.00004 13.3334ZM8.33337 4.66671H7.33337V8.66671L10.8334 10.7667L11.3334 9.94671L8.33337 8.16671V4.66671Z" fill="#C4C4C4"/></svg>
    |Thứ Sáu, ngày 10 tháng 6 năm 2022 - 16:40

  .NewDetail-body.style-content 
    p
      strong Hết năm 2021, mới có 19% giá trị sản xuất nông lâm nghiệp, thủy sản của tỉnh được tiêu thụ qua liên kết. Các mô hình liên kết này cũng chưa được tính là bền vững và ổn định, khi các hợp tác xã, doanh nghiệp chưa thực sự đủ lực cả về tài chính và thị trường.
    br

    p 
      strong Chưa bền vững
    br

    p Mô hình liên kết tiêu thụ sản phẩm sachi từng được kỳ vọng sẽ hình thành chuỗi liên kết bền vững với nông dân nhiều địa phương trên địa bàn tỉnh. Trên thực tế, đây là cây trồng mới, Hợp tác xã sản xuất hữu cơ sachi cũng đã được thành lập và kết nối với các hợp tác xã khác trên địa bàn tỉnh đưa loại cây trồng này vào với mục tiêu tiêu thụ toàn bộ sản phẩm cho bà con. Liên minh Hợp tác xã tỉnh cũng đã từng kỳ vọng, từ mô hình liên kết này sẽ hỗ trợ xây dựng nhóm các hợp tác xã sản xuất sachi theo chuỗi thành một liên hiệp hợp tác xã
    br
    p Tuy nhiên, chỉ được một thời gian ngắn, do dịch bệnh, thị trường, cây trồng này đang mất dần vị thế và được thay thế bởi các cây trồng khác, chuỗi liên kết mới hình thành được một thời gian ngắn cũng vì thế mà đổ vỡ. Đồng chí Đặng Văn Long, Phó Chủ tịch UBND xã Lương Thiện (Sơn Dương) cho biết, người dân trong xã bắt đầu tham gia mô hình liên kết từ năm 2019, với diện tích ban đầu gần 4 ha. Đúng thời điểm này, dịch Covid-19 bùng phát mạnh tại tất cả các địa phương khiến việc giao thương, đi lại gặp nhiều khó khăn. Sachi, cũng giống như một số nông sản khác của xã không có đầu ra. Theo lãnh đạo UBND xã Lương Thiện, đến thời điểm này, toàn bộ diện tích sachi đã bị thay thế bằng cây trồng khác,  trong đó chủ yếu lại quay về cây mía.
    br
    p Theo Chi cục Phát triển nông thôn, hết năm 2021, toàn tỉnh có 84 mô hình liên kết, hợp tác sản xuất và tiêu thụ sản phẩm nông nghiệp với tỷ lệ giá trị sản xuất nông lâm nghiệp thủy sản tiêu thụ qua liên kết đạt trên 19% trên tổng giá trị sản xuất nông lâm nghiệp thủy sản.
    br

    img(src="./assets/images/sample-image-new.png" alt="")

    br

    p.text-center 
      i Mô hình nuôi ong của thành viên Hợp tác xã Nông lâm nghiệp Quyết Tiến, xã Chiêu Yên (Yên Sơn) được bao tiêu đầu ra


