.TabsCarousels.tabs-wrapper
  .TabsCarousels-header.flex.items-center.justify-between
    .TabsCarousels-header-tabs.flex
      +Tag({ title: 'Tin Nổi Bật', isTab: true })
      +Tag({ title: 'Tin Mới Nhất', isTab: true })

    .TabsCarousels-header-search(style="margin-bottom: 1rem;")
      +SearchInput({ placeholder: 'Tìm kiếm' })

  .TabsCarousels-main 
    .tab-main-item
      .owl-carousel.News-carousel 
        each item in dataCarouselFeatureNews
          .item 
            .TabsCarousels-carousel-item 
              +NewBlock(item)

    .tab-main-item
      .owl-carousel.News-carousel 
        each item in dataCarouselLastestNews
          .item 
            .TabsCarousels-carousel-item 
              +NewBlock(item)