/* https://chir.ag/projects/name-that-color */

$white: #fff;
$black: #000;

$lemon: #F4F818;
$raven: #6F7789;
$ecstasy: #F98121;
$concrete: #F2F2F2;
$rose-white: #FFF7F7;
$gray: #828282;
$white-lilac: #F0F1FA;
$coral-red: #FF3A44;
$geraldine: #FF8086;
$sundown: #FFB3B6;
$royal-blue: #5D5FEF;
$azure-radiance: #0B80EC;
$blue-stone: #015364;
$pale-sky: #667085;
$silver: #C4C4C4;
$boulder: #767676;