-
  const dataNavigation = [
    {
      path: ['/', '/index.html'],
      title: 'Trang chủ',
      icon: 'home',
      link: 'index.html',
    },
    {
      path: ['/gioi-thieu.html'],
      title: 'Giới thiệu',
      icon: 'info',
      link: 'gioi-thieu.html',
    },
    {
      path: ['/xay-dung-dang.html'],
      title: 'Xây dựng Đảng',
      icon: 'party',
      link: 'xay-dung-dang.html',
    },
    {
      path: ['/van-ban.html'],
      title: 'Văn bản',
      icon: 'document',
      link: 'van-ban.html',
    },
    {
      path: ['/khac.html'],
      title: 'Khác',
      class: 'js-open-sidebar',
      icon: 'grid',
      link: '#',
    },
  ]

  const dataSidebar = [
    {
      path: ['/', '/index.html'],
      title: 'Trang chủ',
      icon: 'home',
      link: 'index.html',
    },
    {
      path: ['/gioi-thieu.html', '/gioi-thieu-chung.html', '/lien-ket.html'],
      title: 'Giới thiệu',
      icon: 'bookmark',
      link: '#',
      children: [
        {
          path: ['/gioi-thieu-chung.html'],
          title: 'Giới thiệu chung',
          icon: 'arrow',
          link: 'gioi-thieu-chung.html',
        },
        {
          path: ['/lien-ket.html'],
          title: 'Cơ cấu tổ chức',
          icon: 'arrow',
          link: 'lien-ket.html',
        },
        {
          path: [],
          title: 'Ban thường vụ Tỉnh uỷ',
          icon: 'arrow',
          link: 'gioi-thieu-chi-tiet.html',
        },
        {
          path: [],
          title: 'Ban chấp hành Đảng bộ Tỉnh',
          icon: 'arrow',
          link: 'gioi-thieu-chi-tiet.html',
        },
      ],
    },
    {
      path: [],
      title: 'Thời sự - Chính trị',
      icon: 'bookmark',
      link: '#',
      children: [
        {
          path: [],
          title: 'Tin tức - sự kiện',
          icon: 'arrow',
          link: 'danh-muc.html',
        },
        {
          path: [],
          title: 'Hoạt động của cấp ủy các cấp',
          icon: 'arrow',
          link: 'danh-muc.html',
        },
      ],
    },
    {
      path: [],
      title: 'Xây dựng Đảng',
      icon: 'bookmark',
      link: '#',
      children: [
        {
          path: [],
          title: 'Xây dựng Đảng và hệ thống chính trị',
          icon: 'arrow',
          link: 'danh-muc.html',
        },
        {
          path: [],
          title: 'Đưa Nghị quyết của Đảng vào cuộc sống',
          icon: 'arrow',
          link: 'danh-muc.html',
        },
        {
          path: [],
          title: 'Học tập và làm theo tư tưởng, đạo đức, phong cách Hồ Chí Minh',
          icon: 'arrow',
          link: 'danh-muc.html',
        },
        {
          path: [],
          title: 'Bảo vệ nền tảng tư tưởng của Đảng',
          icon: 'arrow',
          link: 'danh-muc.html',
        },
        {
          path: [],
          title: 'Nghiên cứu trao đổi',
          icon: 'arrow',
          link: 'danh-muc.html',
        },
      ],
    },
    {
      path: [],
      title: 'Kinh tế',
      icon: 'bookmark',
      link: 'danh-muc.html',
      children: [],
    },
    {
      path: [],
      title: 'Văn hóa',
      icon: 'bookmark',
      link: 'danh-muc.html',
      children: [],
    },
    {
      path: [],
      title: 'Quốc phòng - An ninh',
      icon: 'bookmark',
      link: 'danh-muc.html',
      children: [],
    },
    {
      path: ['/van-ban.html'],
      title: 'Văn bản - Tư liệu',
      icon: 'bookmark',
      link: '#',
      children: [
        {
          path: [],
          title: 'Văn kiện Đại hội',
          icon: 'arrow',
          link: 'van-ban.html',
        },
        {
          path: [],
          title: 'Văn bản của Tỉnh',
          icon: 'arrow',
          link: 'van-ban.html',
        },
        {
          path: [],
          title: 'Văn bản của TW',
          icon: 'arrow',
          link: 'van-ban.html',
        },
        {
          path: [],
          title: 'Tài liệu tuyên truyền',
          icon: 'arrow',
          link: 'van-ban.html',
        },
        {
          path: [],
          title: 'Tài liệu lịch sử',
          icon: 'arrow',
          link: 'van-ban.html',
        },
        {
          path: [],
          title: 'Biên niên sự kiện lịch sử Đảng bộ tỉnh (Giai đoạn 1976-2015)',
          icon: 'arrow',
          link: 'van-ban.html',
        },
      ],
    },
    {
      path: [],
      title: 'Liên kết',
      icon: 'link',
      link: '#',
      children: [
        {
          path: [],
          title: 'CÁC BAN ĐẢNG TỈNH ỦY',
          icon: 'arrow',
          link: '#',
          children: [
            {
              path: [],
              title: 'Ban Tổ chức Tỉnh ủy',
              icon: 'arrow',
              link: 'https://btc.tuyenquang.dcs.vn/',
              target: '_blank',
            },
            {
              path: [],
              title: 'Ủy ban Kiểm tra Tỉnh ủy',
              icon: 'arrow',
              link: 'https://ubkt.tuyenquang.dcs.vn',
              target: '_blank',
            },
            {
              path: [],
              title: 'Ban Tuyên giáo Tỉnh ủy',
              icon: 'arrow',
              link: 'http://btg.tuyenquang.dcs.vn/',
              target: '_blank',
            },
            {
              path: [],
              title: 'Ban Dân vận Tỉnh ủy',
              icon: 'arrow',
              link: 'https://bdv.tuyenquang.dcs.vn',
              target: '_blank',
            },
            {
              path: [],
              title: 'Ban Nội chính Tỉnh ủy',
              icon: 'arrow',
              link: 'http://bnc.tuyenquang.dcs.vn/',
              target: '_blank',
            },
          ],
        },
        {
          path: [],
          title: 'ĐẢNG ỦY TRỰC THUỘC',
          icon: 'arrow',
          link: '#',
          children: [
            {
              path: [],
              title: 'ĐU khối các CQ và DN tỉnh',
              icon: 'arrow',
              link: 'https://danguykccq.tuyenquang.gov.vn/',
              target: '_blank',
            },
            {
              path: [],
              title: 'Công an tỉnh Tuyên Quang',
              icon: 'arrow',
              link: 'http://congantuyenquang.vn',
              target: '_blank',
            },
            {
              path: [],
              title: 'Đảng ủy Bộ CHQS tỉnh',
              icon: 'arrow',
              link: 'https://tuyenquang.dcs.vn/',
              target: '_blank',
            },
          ],
        },
        {
          path: [],
          title: 'HUYỆN/THÀNH ỦY',
          icon: 'arrow',
          link: '#',
          children: [
            {
              path: [],
              title: 'Thành phố Tuyên Quang',
              icon: 'arrow',
              link: 'http://thanhphotuyenquang.gov.vn/',
              target: '_blank',
            },
            {
              path: [],
              title: 'Huyện Yên Sơn',
              icon: 'arrow',
              link: 'http://yenson.gov.vn/',
              target: '_blank',
            },
            {
              path: [],
              title: 'Huyện Sơn Dương',
              icon: 'arrow',
              link: 'http://sonduong.gov.vn/',
              target: '_blank',
            },
            {
              path: [],
              title: 'Huyện Hàm Yên',
              icon: 'arrow',
              link: 'http://hamyen.org.vn/',
              target: '_blank',
            },
            {
              path: [],
              title: 'Huyện Chiêm Hóa',
              icon: 'arrow',
              link: 'http://chiemhoa.gov.vn/',
              target: '_blank',
            },
            {
              path: [],
              title: 'Huyện Na Hang',
              icon: 'arrow',
              link: 'http://nahang.tuyenquang.gov.vn/',
              target: '_blank',
            },
            {
              path: [],
              title: 'Huyện Lâm Bình',
              icon: 'arrow',
              link: 'http://lambinh.tuyenquang.gov.vn/',
              target: '_blank',
            },
          ],
        },
        {
          path: [],
          title: 'TỔ CHỨC CHÍNH TRỊ-XÃ HỘI',
          icon: 'arrow',
          link: '#',
          children: [
            {
              path: [],
              title: 'Liên đoàn Lao động tỉnh',
              icon: 'arrow',
              link: 'http://congdoantuyenquang.vn/',
              target: '_blank',
            },
            {
              path: [],
              title: 'Tỉnh đoàn Thanh niên',
              icon: 'arrow',
              link: 'http://tinhdoantuyenquang.vn/',
              target: '_blank',
            },
            {
              path: [],
              title: 'Ủy ban MTTQ tỉnh',
              icon: 'arrow',
              link: 'http://mttq.tuyenquang.gov.vn/',
              target: '_blank',
            },
            {
              path: [],
              title: 'Hội Nông dân tỉnh',
              icon: 'arrow',
              link: 'http://hoinongdantuyenquang.org.vn/',
              target: '_blank',
            },
            {
              path: [],
              title: 'Hội Văn học Nghệ thuật',
              icon: 'arrow',
              link: 'http://vanhocnghethuat.tuyenquang.gov.vn/',
              target: '_blank',
            },
            {
              path: [],
              title: 'Hội Nhà báo tỉnh',
              icon: 'arrow',
              link: 'http://hoinhabaotuyenquang.org.vn/',
              target: '_blank',
            },
            {
              path: [],
              title: 'Hội LH Phụ nữ tỉnh',
              icon: 'arrow',
              link: 'http://hpntuyenquang.org.vn/',
              target: '_blank',
            },
          ],
        },
        {
          path: [],
          title: 'CƠ QUAN TRUNG ƯƠNG',
          icon: 'arrow',
          link: '#',
          children: [
            {
              path: [],
              title: 'Báo ĐT Đảng Cộng sản Việt Nam',
              icon: 'arrow',
              link: 'http://dangcongsan.vn',
              target: '_blank',
            },
            {
              path: [],
              title: 'Cổng TTĐT Quốc hội Nước CHXHCN Việt Nam',
              icon: 'arrow',
              link: 'http://quochoi.vn',
              target: '_blank',
            },
            {
              path: [],
              title: 'Cổng TTĐT Chính phủ Nước CHXHCN Việt Nam',
              icon: 'arrow',
              link: 'http://chinhphu.vn',
              target: '_blank',
            },
            {
              path: [],
              title: 'Báo Nhân dân',
              icon: 'arrow',
              link: 'https://nhandan.vn/',
              target: '_blank',
            },
            {
              path: [],
              title: 'Tạp chí Cộng sản',
              icon: 'arrow',
              link: 'https://www.tapchicongsan.org.vn/',
              target: '_blank',
            },
          ],
        },
      ],
    },
    {
      path: ['/lien-he.html'],
      title: 'Liên hệ',
      icon: 'mail',
      link: 'lien-he.html',
      children: [],
    },
  ]

  const dataCarouselFeatureNews = [
    {
      link: 'chi-tiet-bai-viet.html',
      image: 'https://tuyenquang.dcs.vn/Image/Large/202261681850_96670.jpg',
      title: 'Mục tiêu, nhiệm vụ và giải pháp Kế hoạch triển khai thực hiện  Chương trình về phòng, chống bạo lực gia đình trong tình hình mới  đến năm 2025 trên địa bàn tỉnh Tuyên Quang',
      category: 'Tin nổi bật',
      date: '16h45 10/06/2022',
    },
    {
      link: 'chi-tiet-bai-viet.html',
      image: 'https://tuyenquang.dcs.vn/Image/Large/2022613202137_96644.jpg',
      title: 'Quốc hội sẽ biểu quyết thông qua 5 dự án luật, 13 dự thảo Nghị quyết',
      category: 'Tin nổi bật',
      date: '16h45 10/06/2022',
    },
    {
      link: 'chi-tiet-bai-viet.html',
      image: 'https://tuyenquang.dcs.vn/Image/Large/202261415402_96652.jpg',
      title: 'Chủ tịch UBND tỉnh Nguyễn Văn Sơn làm việc với Đoàn công tác Văn phòng Cơ quan hợp tác quốc tế (JICA) Việt Nam',
      category: 'Tin nổi bật',
      date: '16h45 10/06/2022',
    },
    {
      link: 'chi-tiet-bai-viet.html',
      image: 'https://tuyenquang.dcs.vn/Image/Large/20226149317_96648.jpg',
      title: 'Tăng lương tối thiểu vùng cho người lao động từ 01/7/2022',
      category: 'Tin nổi bật',
      date: '16h45 10/06/2022',
    },
    {
      link: 'chi-tiet-bai-viet.html',
      image: 'https://tuyenquang.dcs.vn/Image/Large/2022613212040_96647.jpg',
      title: 'Tự phê bình và phê bình',
      category: 'Tin nổi bật',
      date: '16h45 10/06/2022',
    },
    {
      link: 'chi-tiet-bai-viet.html',
      image: 'https://tuyenquang.dcs.vn/Image/Large/2022613211352_96646.png',
      title: 'Quá trình hoạt động cách mạng của đồng chí Hồ Tùng Mậu',
      category: 'Tin nổi bật',
      date: '16h45 10/06/2022',
    },
    {
      link: 'chi-tiet-bai-viet.html',
      image: 'https://tuyenquang.dcs.vn/Image/Large/202261373710_96640.jpg',
      title: 'Thường trực Tỉnh ủy cho ý kiến một số chủ trương quan trọng',
      category: 'Tin nổi bật',
      date: '16h45 10/06/2022',
    },
  ]

  const dataListFeatureNews = [
    {
      link: 'chi-tiet-bai-viet.html',
      image: 'https://tuyenquang.dcs.vn/Image/Large/202261681850_96670.jpg',
      title: 'Mục tiêu, nhiệm vụ và giải pháp Kế hoạch triển khai thực hiện  Chương trình về phòng, chống bạo lực gia đình trong tình hình mới  đến năm 2025 trên địa bàn tỉnh Tuyên Quang',
    },
    {
      type: 'horizontal',
      link: 'chi-tiet-bai-viet.html',
      image: 'https://tuyenquang.dcs.vn/Image/Large/2022613202137_96644.jpg',
      title: 'Quốc hội sẽ biểu quyết thông qua 5 dự án luật, 13 dự thảo Nghị quyết',
      date: '16h45 10/06/2022',
    },
    {
      type: 'horizontal',
      link: 'chi-tiet-bai-viet.html',
      image: 'https://tuyenquang.dcs.vn/Image/Large/202261415402_96652.jpg',
      title: 'Chủ tịch UBND tỉnh Nguyễn Văn Sơn làm việc với Đoàn công tác Văn phòng Cơ quan hợp tác quốc tế (JICA) Việt Nam',
      date: '16h45 10/06/2022',
    },
    {
      type: 'horizontal',
      link: 'chi-tiet-bai-viet.html',
      image: 'https://tuyenquang.dcs.vn/Image/Large/20226149317_96648.jpg',
      title: 'Tăng lương tối thiểu vùng cho người lao động từ 01/7/2022',
      date: '16h45 10/06/2022',
    },
    {
      type: 'horizontal',
      link: 'chi-tiet-bai-viet.html',
      image: 'https://tuyenquang.dcs.vn/Image/Large/2022613212040_96647.jpg',
      title: 'Tự phê bình và phê bình',
      date: '16h45 10/06/2022',
    },
    {
      type: 'horizontal',
      link: 'chi-tiet-bai-viet.html',
      image: 'https://tuyenquang.dcs.vn/Image/Large/2022613211352_96646.png',
      title: 'Quá trình hoạt động cách mạng của đồng chí Hồ Tùng Mậu',
      date: '16h45 10/06/2022',
    },
    {
      type: 'horizontal',
      link: 'chi-tiet-bai-viet.html',
      image: 'https://tuyenquang.dcs.vn/Image/Large/202261373710_96640.jpg',
      title: 'Thường trực Tỉnh ủy cho ý kiến một số chủ trương quan trọng',
      date: '16h45 10/06/2022',
    },
  ]

  const dataListSocialsNews = [
    {
      link: 'chi-tiet-bai-viet.html',
      image: 'https://tuyenquang.dcs.vn/Image/Large/202261316588_96643.jpg',
      title: 'Không ép buộc mua sách tham khảo, sách bài tập',
    },
    {
      type: 'horizontal',
      link: 'chi-tiet-bai-viet.html',
      image: 'https://tuyenquang.dcs.vn/Image/Large/202261016396_96633.jpg',
      title: 'Đào tạo nghề gắn với thực tiễn',
      date: '16h45 10/06/2022',
    },
    {
      type: 'horizontal',
      link: 'chi-tiet-bai-viet.html',
      image: 'https://tuyenquang.dcs.vn/Image/Large/202261016365_96632.jpg',
      title: 'Thôn Cao Ngỗi đã có sóng điện thoại',
      date: '16h45 10/06/2022',
    },
    {
      type: 'horizontal',
      link: 'chi-tiet-bai-viet.html',
      image: 'https://tuyenquang.dcs.vn/Image/Large/20226149317_96648.jpg',
      title: 'Tăng lương tối thiểu vùng cho người lao động từ 01/7/2022',
      date: '16h45 10/06/2022',
    },
    {
      type: 'horizontal',
      link: 'chi-tiet-bai-viet.html',
      image: 'https://tuyenquang.dcs.vn/Image/Large/202267163732_96622.jpg',
      title: 'Chuẩn bị tốt các điều kiện cho Kỳ thi tốt nghiệp THPT năm 2022',
      date: '16h45 10/06/2022',
    },
    {
      type: 'horizontal',
      link: 'chi-tiet-bai-viet.html',
      image: 'https://tuyenquang.dcs.vn/Image/Large/202267162753_96621.jpg',
      title: 'Huy động sức dân xóa nhà tạm, dột nát',
      date: '16h45 10/06/2022',
    },
  ]

  const dataListSecurityNews = [
    {
      link: 'chi-tiet-bai-viet.html',
      image: 'https://tuyenquang.dcs.vn/Image/Large/20226285523_96596.jpg',
      title: 'Diễn tập chiến đấu phòng thủ phường Đội Cấn năm 2022',
    },
    {
      type: 'horizontal',
      link: 'chi-tiet-bai-viet.html',
      image: 'https://tuyenquang.dcs.vn/Image/Large/202251815342_91519.jpg',
      title: 'Bộ CHQS tỉnh xây dựng Đơn vị dân vận tốt',
      date: '16h45 10/06/2022',
    },
    {
      type: 'horizontal',
      link: 'chi-tiet-bai-viet.html',
      image: 'https://tuyenquang.dcs.vn/Image/Large/2022426134832_89375.jpg',
      title: 'Xứng đáng là chỗ dựa tin cậy của nhân dân',
      date: '16h45 10/06/2022',
    },
    {
      type: 'horizontal',
      link: 'chi-tiet-bai-viet.html',
      image: 'https://tuyenquang.dcs.vn/images/75%20nam%20LLVT.gif',
      title: 'Lực lượng vũ trang tỉnh Tuyên Quang 75 năm xây dựng, chiến đấu và trưởng thành',
      date: '16h45 10/06/2022',
    },
    {
      type: 'horizontal',
      link: 'chi-tiet-bai-viet.html',
      image: 'https://tuyenquang.dcs.vn/images/qdndvn_20210827100433.jpg',
      title: 'Tuyên Quang: Phát huy vai trò của công tác tuyên giáo trong phối hợp tuyên truyền về nhiệm vụ quân sự, quốc phòng trên địa bàn tỉnh',
      date: '16h45 10/06/2022',
    },
  ]

  const dataListInfographicNews = [
    {
      link: 'chi-tiet-bai-viet.html',
      image: 'https://tuyenquang.dcs.vn/Image/Large/202261411334_96649.png',
      title: 'Quan điểm, mục tiêu, nhiệm vụ và giải pháp Chiến lược kế toán - kiểm toán đến năm 2030',
    },
    {
      type: 'horizontal',
      link: 'chi-tiet-bai-viet.html',
      image: 'https://tuyenquang.dcs.vn/Image/Large/20226149317_96648.jpg',
      title: 'Tăng lương tối thiểu vùng cho người lao động từ 01/7/2022',
      date: '16h45 10/06/2022',
    },
    {
      type: 'horizontal',
      link: 'chi-tiet-bai-viet.html',
      image: 'https://tuyenquang.dcs.vn/Image/Large/2022613212040_96647.jpg',
      title: 'Tự phê bình và phê bình',
      date: '16h45 10/06/2022',
    },
    {
      type: 'horizontal',
      link: 'chi-tiet-bai-viet.html',
      image: 'https://tuyenquang.dcs.vn/Image/Large/2022613211352_96646.png',
      title: 'Quá trình hoạt động cách mạng của đồng chí Hồ Tùng Mậu',
      date: '16h45 10/06/2022',
    },
    {
      type: 'horizontal',
      link: 'chi-tiet-bai-viet.html',
      image: 'https://tuyenquang.dcs.vn/Image/Large/202261681850_96670.jpg',
      title: 'Mục tiêu, nhiệm vụ và giải pháp Kế hoạch triển khai thực hiện Chương trình về phòng, chống bạo lực gia đình trong tình hình mới đến năm 2025 trên địa bàn tỉnh Tuyên Quang',
      date: '16h45 10/06/2022',
    },
  ]

  const dataListCovidNews = [
    {
      link: 'chi-tiet-bai-viet.html',
      image: 'https://tuyenquang.dcs.vn/Image/Large/2022613165247_96641.jpg',
      title: 'Thêm cơ hội được bảo vệ trước dịch bệnh Covid-19',
    },
    {
      type: 'horizontal',
      link: 'chi-tiet-bai-viet.html',
      image: 'https://tuyenquang.dcs.vn/Image/Large/202269171053_96630.jpeg',
      title: 'Triển khai tiêm vắc xin phòng COVID-19 mũi 4 cho người từ 18 tuổi trở lên',
      date: '16h45 10/06/2022',
    },
    {
      type: 'horizontal',
      link: 'chi-tiet-bai-viet.html',
      image: 'https://tuyenquang.dcs.vn/Image/Large/20226917428_96629.jpg',
      title: 'Thực hiện biện pháp phòng dịch phù hợp trong bối cảnh mới',
      date: '16h45 10/06/2022',
    },
    {
      type: 'horizontal',
      link: 'chi-tiet-bai-viet.html',
      image: 'https://tuyenquang.dcs.vn/Image/Large/2022531165228_96588.jpg',
      title: 'Tránh lạm dụng chỉ định khi người dân đi khám hậu Covid-19',
      date: '16h45 10/06/2022',
    },
    {
      type: 'horizontal',
      link: 'chi-tiet-bai-viet.html',
      image: 'https://tuyenquang.dcs.vn/Image/Large/2022524174152_94547.jpg',
      title: 'Rà soát, đẩy nhanh tiến độ tiêm vắc xin phòng Covid-19 mũi 3 cho người từ 18 tuổi trở lên',
      date: '16h45 10/06/2022',
    },
  ]

  const dataListGovermentNews = [
    {
      link: 'chi-tiet-bai-viet.html',
      image: 'https://tuyenquang.dcs.vn/images/115(1).jpg',
      title: 'Thấm nhuần tư tưởng thi đua ái quốc',
    },
    {
      type: 'horizontal',
      link: 'chi-tiet-bai-viet.html',
      image: 'https://tuyenquang.dcs.vn/images/dbieu%20bo%20phieu.jpg',
      title: 'Cơ chế bảo đảm thực hiện có hiệu quả nguyên tắc tập trung dân chủ trong Đảng hiện nay',
      date: '16h45 10/06/2022',
    },
    {
      type: 'horizontal',
      link: 'chi-tiet-bai-viet.html',
      image: 'https://tuyenquang.dcs.vn/images/V%c3%b5%20Van%20Thuong.jpg',
      title: 'Nâng cao chất lượng nghiên cứu, học tập, quán triệt nghị quyết của Đảng, đáp ứng yêu cầu nhiệm vụ trong giai đoạn mới',
      date: '16h45 10/06/2022',
    },
    {
      type: 'horizontal',
      link: 'chi-tiet-bai-viet.html',
      image: 'https://tuyenquang.dcs.vn/images/article%20(1)(10).jpg',
      title: 'Mặt trận Tổ quốc Việt Nam tập hợp, vận động người Việt Nam ở nước ngoài đoàn kết, hướng về xây dựng và bảo vệ Tổ quốc',
      date: '16h45 10/06/2022',
    },
    {
      type: 'horizontal',
      link: 'chi-tiet-bai-viet.html',
      image: 'https://tuyenquang.dcs.vn/images/img_20220415164017.jpg',
      title: 'Tuyên Quang: Chú trọng thực hiện tốt Quy chế dân chủ ở cơ sở',
      date: '16h45 10/06/2022',
    },
  ]

  const dataListLevelsNews = [
    {
      link: 'chi-tiet-bai-viet.html',
      image: 'https://tuyenquang.dcs.vn/Image/Large/2022614152231_96651.jpg',
      title: 'Lấy ý kiến vào Dự thảo báo cáo chính trị trình Đại hội Đoàn TNCS Hồ Chí Minh',
    },
    {
      type: 'horizontal',
      link: 'chi-tiet-bai-viet.html',
      image: 'https://tuyenquang.dcs.vn/Image/Large/20226814283_96625.jpg',
      title: 'Lâm Bình nêu cao vai trò, trách nhiệm của người đứng đầu',
      date: '16h45 10/06/2022',
    },
    {
      type: 'horizontal',
      link: 'chi-tiet-bai-viet.html',
      image: 'https://tuyenquang.dcs.vn/Image/Large/2022527141740_95562.jpg',
      title: 'Phấn đấu có 8 xã điển hình về phong trào "Toàn dân bảo vệ an ninh Tổ quốc" đến hết năm 2022',
      date: '16h45 10/06/2022',
    },
    {
      type: 'horizontal',
      link: 'chi-tiet-bai-viet.html',
      image: 'https://tuyenquang.dcs.vn/Image/Large/20225268018_95556.jpg',
      title: 'HĐND huyện Lâm Bình tổ chức kỳ họp chuyên đề',
      date: '16h45 10/06/2022',
    },
    {
      type: 'horizontal',
      link: 'chi-tiet-bai-viet.html',
      image: 'https://tuyenquang.dcs.vn/Image/Large/202252422545_94548.jpg',
      title: 'Tổng kết 10 năm thực hiện công tác hậu cần Quân đội',
      date: '16h45 10/06/2022',
    },
  ]

  const dataCarouselLastestNews = [
    {
      link: 'chi-tiet-bai-viet.html',
      image: 'https://tuyenquang.dcs.vn/Image/Large/2022610164057_96634.jpg',
      title: 'Tạo nền móng vững chắc trong sản xuất nông nghiệp',
      category: 'Tin mới nhất',
      date: '16h45 10/06/2022',
    },
    {
      link: 'chi-tiet-bai-viet.html',
      image: 'https://tuyenquang.dcs.vn/Image/Large/202267164657_96623.jpg',
      title: 'Sắc vàng mùa gặt',
      category: 'Tin mới nhất',
      date: '16h45 10/06/2022',
    },
    {
      link: 'chi-tiet-bai-viet.html',
      image: 'https://tuyenquang.dcs.vn/Image/Large/202266141130_96618.jpg',
      title: 'Lâm Bình phát triển cây dược liệu dưới tán rừng',
      category: 'Tin mới nhất',
      date: '16h45 10/06/2022',
    },
    {
      link: 'chi-tiet-bai-viet.html',
      image: 'https://tuyenquang.dcs.vn/Image/Large/20226117555_96593.jpg',
      title: 'Chuyển đổi số: Tạo bước đột phá trong sản xuất nông nghiệp',
      category: 'Tin mới nhất',
      date: '16h45 10/06/2022',
    },
    {
      link: 'chi-tiet-bai-viet.html',
      image: 'https://tuyenquang.dcs.vn/Image/Large/2022531164749_96587.jpg',
      title: 'Đẩy nhanh tiến độ giải ngân vốn đầu tư công',
      category: 'Tin mới nhất',
      date: '16h45 10/06/2022',
    },
  ]

  const dataListLastestNews = [
    {
      link: 'chi-tiet-bai-viet.html',
      image: 'https://tuyenquang.dcs.vn/Image/Large/2022610164057_96634.jpg',
      title: 'Tạo nền móng vững chắc trong sản xuất nông nghiệp',
    },
    {
      type: 'horizontal',
      link: 'chi-tiet-bai-viet.html',
      image: 'https://tuyenquang.dcs.vn/Image/Large/202267164657_96623.jpg',
      title: 'Sắc vàng mùa gặt',
      date: '16h45 10/06/2022',
    },
    {
      type: 'horizontal',
      link: 'chi-tiet-bai-viet.html',
      image: 'https://tuyenquang.dcs.vn/Image/Large/202266141130_96618.jpg',
      title: 'Lâm Bình phát triển cây dược liệu dưới tán rừng',
      date: '16h45 10/06/2022',
    },
    {
      type: 'horizontal',
      link: 'chi-tiet-bai-viet.html',
      image: 'https://tuyenquang.dcs.vn/Image/Large/20226117555_96593.jpg',
      title: 'Chuyển đổi số: Tạo bước đột phá trong sản xuất nông nghiệp',
      date: '16h45 10/06/2022',
    },
    {
      type: 'horizontal',
      link: 'chi-tiet-bai-viet.html',
      image: 'https://tuyenquang.dcs.vn/Image/Large/2022531164749_96587.jpg',
      title: 'Đẩy nhanh tiến độ giải ngân vốn đầu tư công',
      date: '16h45 10/06/2022',
    },
  ]

  const dataList = [
    {
      link: 'gioi-thieu-chi-tiet.html',
      title: 'THƯỜNG TRỰC TỈNH ỦY',
    },
    {
      link: 'gioi-thieu-chi-tiet.html',
      title: 'BAN THƯỜNG VỤ TỈNH ỦY',
    },
    {
      link: 'gioi-thieu-chi-tiet.html',
      title: 'ỦY BAN KIỂM TRA TỈNH ỦY',
    },
    {
      link: 'gioi-thieu-chi-tiet.html',
      title: 'BAN CHẤP HÀNH ĐẢNG BỘ TỈNH TUYÊN QUANG',
    },
  ]

  const dataHashTags = [
    { link: 'ket-qua-tim-kiem.html', title: '#Tất cả', active: true },
    { link: 'ket-qua-tim-kiem.html', title: '#Văn kiện đại hội' },
    { link: 'ket-qua-tim-kiem.html', title: '#Văn bản của tỉnh' },
    { link: 'ket-qua-tim-kiem.html', title: '#Văn bản của TW' },
    { link: 'ket-qua-tim-kiem.html', title: '#Tài liệu lịch sử' },
    { link: 'ket-qua-tim-kiem.html', title: '#Tài liệu tuyên truyền' },
    { link: 'ket-qua-tim-kiem.html', title: '#Văn bản hướng dẫn về Học tập và làm theo Bác' },
  ]

  const dataDocuments = [
    {
      link: '#',
      title: '23-HD/BTGTU',
      type: 'Thể loại: hướng dẫn',
      description: 'Hướng dẫn tổ chức Hội thi giảng viên lý luận chính trị giỏi',
      owner: 'Văn bản của TW',
      date: 'Ban hành: 30/08/2021',
    },
    {
      link: '#',
      title: '01-QĐ/BCĐ',
      type: 'Thể loại: quyết định',
      description: 'Ban hành Quy chế làm việc và phân công nhiệm vụ của Ban Chỉ đạo phòng, chống dịch COVID-19, thúc đẩy phát triển kinh tế-xã hội, đảm bảo quốc phòng - an ninh',
      owner: 'Văn bản của tỉnh',
      date: 'Ban hành: 24/09/2021',
    },
    {
      link: '#',
      title: '07-KH/BTGTU',
      type: 'Thể loại: kế hoạch',
      description: 'Kế hoạch tổ chức Hội thi báo cáo viên, tuyên truyền viên giỏi tuyên truyền về Nghị quyết Đại hội lần thứ XIII của Đảng và Nghị quyết Đại hội Đảng bộ tỉnh lần thứ XVII',
      owner: 'Tài liệu tuyên truyền',
      date: 'Ban hành: 24/02/2021',
    },
    {
      link: '#',
      title: 'So 01-HDIBTGTU',
      type: 'Thể loại: hướng dẫn',
      description: 'Tuyên truyền kỷ niệm 90 năm ngày thành lập Dân tộc thống nhất Việt Nam - Ngày truyền thống Mặt trận Tổ quốc Việt Nam 18/11/1930 - 18/11/2020',
      owner: 'Tài liệu tuyên truyền',
      date: 'Ban hành: 22/10/2020',
    },
    {
      link: '#',
      title: 'Báo cáo Chính trị Đại Hội Đảng bộ Tỉnh',
      type: 'Thể loại: khác',
      description: 'Báo cáo Chính trị Đại Hội Đảng bộ Tỉnh Tuyên Quang Khóa XVII',
      owner: 'Văn kiện đại hội',
      date: 'Ban hành: 02/10/2020',
    },
    {
      link: '#',
      title: '23-HD/BTGTU',
      type: 'Thể loại: hướng dẫn',
      description: 'Hướng dẫn tổ chức Hội thi giảng viên lý luận chính trị giỏi',
      owner: 'Văn bản của TW',
      date: 'Ban hành: 30/08/2021',
    },
    {
      link: '#',
      title: '01-QĐ/BCĐ',
      type: 'Thể loại: hướng dẫn',
      description: 'Hướng dẫn tổ chức Hội thi giảng viên lý luận chính trị giỏi',
      owner: 'Văn bản của TW',
      date: 'Ban hành: 30/08/2021',
    },
    {
      link: '#',
      title: '01-QĐ/BCĐ',
      type: 'Thể loại: quyết định',
      description: 'Ban hành Quy chế làm việc và phân công nhiệm vụ của Ban Chỉ đạo phòng, chống dịch COVID-19, thúc đẩy phát triển kinh tế-xã hội, đảm bảo quốc phòng - an ninh',
      owner: 'Văn bản của tỉnh',
      date: 'Ban hành: 24/09/2021',
    },
    {
      link: '#',
      title: '07-KH/BTGTU',
      type: 'Thể loại: kế hoạch',
      description: 'Kế hoạch tổ chức Hội thi báo cáo viên, tuyên truyền viên giỏi tuyên truyền về Nghị quyết Đại hội lần thứ XIII của Đảng và Nghị quyết Đại hội Đảng bộ tỉnh lần thứ XVII',
      owner: 'Tài liệu tuyên truyền',
      date: 'Ban hành: 24/02/2021',
    },
    {
      link: '#',
      title: 'So 01-HDIBTGTU',
      type: 'Thể loại: hướng dẫn',
      description: 'Tuyên truyền kỷ niệm 90 năm ngày thành lập Dân tộc thống nhất Việt Nam - Ngày truyền thống Mặt trận Tổ quốc Việt Nam 18/11/1930 - 18/11/2020',
      owner: 'Tài liệu tuyên truyền',
      date: 'Ban hành: 22/10/2020',
    },
    {
      link: '#',
      title: 'Báo cáo Chính trị Đại Hội Đảng bộ Tỉnh',
      type: 'Thể loại: khác',
      description: 'Báo cáo Chính trị Đại Hội Đảng bộ Tỉnh Tuyên Quang Khóa XVII',
      owner: 'Văn kiện đại hội',
      date: 'Ban hành: 02/10/2020',
    },
  ]