.Contact {
  padding: 2rem 0;

  &-subtitle {
    text-align: center;
    font-size: 1.4rem;
    font-weight: 700;
    color: $boulder;
    font-family: 'Poppins', sans-serif;
    margin-bottom: .8rem;
  }


  &-title {
    text-align: center;
    font-size: 1.6rem;
    font-weight: 700;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 1.6rem;
  }

  &-content {
    p {
      font-size: 1.4rem;
      margin-bottom: 1.6rem;
    }
  }

  &-info {
    margin-bottom: 2.4rem;

    &-wrapper {
      margin-top: 3.2rem;
    }

    &-icon {
      flex: 0 0 1.6rem;
      max-width: 1.6rem;
      display: flex;
      justify-content: center;
      margin-right: 2rem;
    }

    a,
    span {
      display: block;
      font-size: 1.4rem;
      color: $black;
    }
  }
}