extends includes/layouts/Layout.pug

block pages
  div(style="margin-bottom: 1.2rem;")
    +Tag({ title: 'GIỚI THIỆU CHUNG', active: true })

  div(style="margin-bottom: 2.4rem;")
    +NewBlock({
      link: 'gioi-thieu-chung.html',
      title: 'GIỚI THIỆU CỔNG THÔNG TIN ĐIỆN TỬ ĐẢNG BỘ TỈNH TUYÊN QUANG',
      image: './assets/images/image-new-about.png',
    })

  div
    each item in dataList
      +List({ title: item.title, data: item.children })
