extends includes/layouts/Layout.pug

block pages
  +Breadcrumb({ title: 'ĐẢNG BỘ TỈNH  KHÓA XVII' })

  .NewDetail
    .NewDetail-title BAN CHẤP HÀNH ĐẢNG BỘ TỈNH TUYÊN QUANG

    br
    
    .NewDetail-body.style-content 
      img(src="./assets/images/image-list-people.jpeg" alt="")

