extends includes/layouts/Layout.pug

block pages
  +Breadcrumb({ title: 'GIỚI THIỆU CHUNG' })

  .NewDetail
    .NewDetail-title GIỚI THIỆU CHUNG

    .NewDetail-body.style-content 
      img(src="https://tuyenquang.dcs.vn/Image/Large/2019819183812_2292.jpg" alt="")
      br
      p(style="text-align: center;") #[strong CỔNG THÔNG TIN ĐIỆN TỬ ĐẢNG BỘ TỈNH TUYÊN QUANG]
      br
      p(style="text-align: center;") Giấy phép xuất bản số: 68/GP-TTĐT ngày 02/10/2020 của Sở Thông tin & Truyền thông tỉnh Tuyên Quang
      br
      p(style="text-align: center;") Chịu trách nhiệm: Bà Nông Thị Bích Huệ - Trưởng Ban Tuyên giáo Tỉnh ủy, Trưởng Ban Biên tập
      br
      p(style="text-align: center;") Địa chỉ: Đường 17/8, Phường Phan Thiết, Thành phố Tuyên Quang, Điện thoại: 02073 822 518
      br
      p(style="text-align: center;") Email: bbttu@tuyenquang.gov.vn
      br

