extends includes/layouts/Layout.pug

block pages
  include includes/containers/TabsCarousels.pug
  +ImageBanner({ image: './assets/images/image-banner.png' })

  div
    +NewsList({ title: 'TIN TỨC - SỰ KIỆN', data: dataListFeatureNews })
    +NewsList({ title: 'KINH TẾ', data: dataListLastestNews })
    +NewsList({ title: 'VĂN HÓA - XÃ HỘI', data: dataListSocialsNews })
    +NewsList({ title: 'QUỐC PHÒNG - AN NINH', data: dataListSecurityNews })
    +NewsList({ title: 'INFOGRAPHICS', data: dataListInfographicNews })
    +NewsList({ title: 'PHÒNG, CHỐNG DỊCH COVID-19', data: dataListCovidNews })
    +NewsList({ title: 'XÂY DỰNG ĐẢNG VÀ HỆ THỐNG CHÍNH TRỊ', data: dataListGovermentNews })
    +NewsList({ title: 'HOẠT ĐỘNG CỦA CẤP ỦY CÁC CẤP', data: dataListLevelsNews })