extends includes/layouts/Layout.pug

block pages
  include includes/containers/NewsCarousels.pug
  +ImageBanner({ image: './assets/images/image-banner.png' })

  div
    +NewsList({ title: 'XÂY DỰNG ĐẢNG VÀ HỆ THỐNG CHÍNH TRỊ', data: dataListLevelsNews })
    +NewsList({ title: 'ĐƯA NGHỊ QUYẾT CỦA ĐẢNG VÀO CUỘC SỐNG', data: dataListGovermentNews })
    +NewsList({ title: 'HỌC TẬP VÀ LÀM THEO TƯ TƯỞNG, ĐẠO ĐỨC, PHONG CÁCH HỒ CHÍ MINH', data: dataListInfographicNews })
    +NewsList({ title: 'BẢO VỆ NỀN TẢNG TƯ TƯỞNG CỦA ĐẢNG', data: dataListSecurityNews })
    +NewsList({ title: 'NGHIÊN CỨU TRAO ĐỔI', data: dataListSocialsNews })
    